<div class="clientes-container">

  <h2>Gestión de Clientes</h2>

  <div class="card-formulario">

    <h3>{{ editando ? 'Editar Cliente' : 'Nuevo Cliente' }}</h3>

    <div class="form-group">
      <label>Nombre:</label>
      <input type="text" [(ngModel)]="clienteForm.nombre" placeholder="Ej: Juan Perez">
    </div>

    <div class="form-group">
      <label>Email:</label>
      <input type="email" [(ngModel)]="clienteForm.email" placeholder="cliente@email.com">
    </div>

    <div class="form-group">
      <label>Teléfono:</label>
      <input type="tel" [(ngModel)]="clienteForm.telefono" placeholder="Ej: 11223344">
    </div>

    <div class="form-group">
   
    </div>

    <div class="acciones-form">
      <button (click)="guardar()" class="btn-guardar">
        {{ editando ? 'Actualizar' : 'Guardar' }}
      </button>

      <button (click)="cancelar()" class="btn-cancelar">
        Limpiar / Cancelar
      </button>
    </div>

  </div>

  <hr>

  <h3>Listado de Clientes ({{ clienteFiltrados.length }})</h3>

  <table class="tabla-clientes">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Empresa ID</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>

      <tr *ngFor="let cliente of clienteFiltrados">
        <td>{{ cliente.id }}</td>
        <td>{{ cliente.nombre }}</td>
        <td>{{ cliente.email }}</td>
        <td>{{ cliente.telefono }}</td>
        <td>{{ cliente.empresaId }}</td>

        <td class="acciones-tabla">
          <button (click)="seleccionarParaEditar(cliente)" class="btn-edit">
            Editar
          </button>

          <button (click)="eliminar(cliente.id)" class="btn-delete">
            Eliminar
          </button>
        </td>
      </tr>

      <tr *ngIf="clientes.length === 0">
        <td colspan="6" style="text-align:center">
          No hay clientes registrados
        </td>
      </tr>

    </tbody>
  </table>

</div>